<div style="float: left; ; text-align: center ;margin: auto; width: 50%;">

    <form (ngSubmit)="prepareEdit()" [formGroup]="form">

        <mat-form-field appearance="outline" style="display: block; padding-top: 3%;">
            <mat-label> Name</mat-label>
            <input [formControl]="$any(form).controls.name" id="name" matInput name="name" placeholder="name...">
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; padding-top: 3%;">
            <mat-label> Year of release</mat-label>
            <input type="number" [min]="1800" [max]="2022" [formControl]="$any(form).controls.yearReleased"
                id="yearReleased" matInput name="yearReleased" placeholder="year of release...">
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; padding-top: 3%;">
            <mat-label> Recap</mat-label>
            <textarea [rows]="5" [formControl]="$any(form).controls.recap" id="recap" matInput name="recap"
                placeholder="recap..."></textarea>
            <mat-error *ngIf="$any(form).controls.recap.touched && $any(form).controls.recap.errors?.maxLength">
                Too long!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; padding-top: 3%;">
            <mat-label> In stock</mat-label>
            <input type="number" [min]="0" [formControl]="$any(form).controls.inStock" id="inStock" matInput
                name="inStock" placeholder="in stock...">
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; padding-top: 3%;">
            <mat-label>Price</mat-label>
            <input type="number" [min]="0" [formControl]="$any(form).controls.price" id="price" matInput name="price"
                placeholder="price...">
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block">
            <mat-label>Genres</mat-label>
            <mat-select [formControl]="$any(form).controls.genres" multiple>
                <mat-option *ngFor="let genre of genres" [value]="genre.originalName">{{genre.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block">
            <mat-label>Writers</mat-label>
            <mat-select [formControl]="$any(form).controls.writers" multiple>
                <mat-option *ngFor="let writer of writers" [value]="writer.id">{{writer.nameSurname}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button [disabled]="form.invalid" id="saveButton" mat-raised-button color="accent"
            style="margin-top: 5%;float:right; margin-left: 2%;" type="submit">Edit
        </button>

    </form>

    <p>
        NOTE: If you leave field empty, we'll just assume that you want data to remain unchanged! :)
    </p>

</div>

<div style="float: right; text-align: center; ;margin: auto;">
    <div appearance="outline" style="display: block">
        <app-photo-management [photo]="photo" (selectedFile)="selectedFileEvent($event)"></app-photo-management>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" size="medium" type="ball-atom">
</ngx-spinner>