/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  height: 100%;
  background-color: #323232;
  color: snow;
}
.mat-row:hover {
  background-color: #494a49;
  cursor: pointer;
}

.background {
  background-image: url(assets/background.jpeg);
  filter: brightness(30%);
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
