<mat-toolbar color="primary">

    <a routerLink="/" style="margin-left: 1%;">
      <mat-icon [ngStyle]="{'color':'white'}">bookmark</mat-icon>
    </a>
    <span style="padding-left: 2%">bookity-book</span>
    <span class="example-spacer" style="padding-left:2%"> </span>
    <a routerLink="/admin/orders-dashboard" style="padding-left: 1%">
        <button color="primary" mat-flat-button style="margin-bottom: 5%">Orders</button>
    </a>
    <a routerLink="/admin/users-dashboard" style="padding-left: 1%">
        <button color="primary" mat-flat-button style="margin-bottom: 5%">Users</button>
    </a>
    <a routerLink="/admin/books-dashboard" style="padding-left: 1%">
        <button color="primary" mat-flat-button style="margin-bottom: 5%">Books</button>
    </a>
    <a routerLink="/admin/writers-dashboard" style="padding-left: 1%">
        <button color="primary" mat-flat-button style="margin-bottom: 5%">Writers</button>
    </a>
    <span style="width: 90%"></span>

    
    <a routerLink="/" style="margin-left: 0.5%;">
        <mat-icon (click)="logOutAdmin()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon>
    </a>
  
</mat-toolbar>